@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

button {
    background-color: $primary-brainflix-blue;
    background-repeat: no-repeat;
    background-position: 10px 6px;
    padding: 12px 20px 12px 40px;
    color: $primary-white;
    height: 2.5rem;
    border-radius: 0.25rem;
    width: 100%;
    @include tablet {
      width: 9.375rem;
    }
    &:hover {
      background-color: $secondary-brainflix-darkblue;
    }
  }