@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.btn {
  display: flex;
  align-items: center;
  background-color: $primary-brainflix-blue;
  background-repeat: no-repeat;
  background-position: 10px 6px;
  color: $primary-white;
  height: 2.5rem;
  border-radius: 0.25rem;
  border: none;
  width: 100%;
  text-transform: uppercase;
  @include tablet {
    width: 10.375rem;
  }
  &:hover {
    background-color: $secondary-brainflix-darkblue;
  }
  &__text {
    flex: 1;
  }
}

.btn-comment {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  background-color: $primary-brainflix-blue;
  background-repeat: no-repeat;
  background-position: 10px 6px;
  color: $primary-white;
  height: 2.5rem;
  border-radius: 0.25rem;
  border: none;
  width: 100%;
  text-transform: uppercase;
  @include tablet {
    width: 15.375rem;
    margin-bottom: 0;
    align-self: flex-end;
  }
  &:hover {
    background-color: $secondary-brainflix-darkblue;
  }

  &__text {
    flex: 1;
  }
}
