@use './variables' as *;

@mixin text-style($font-size, $line-height, $weight) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $weight;
}

@mixin tablet {
    @media (min-width: $tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}