@use './variables' as *;

@font-face {
    font-family: 'Avenir Next Regular';
    src: url('/assets/Font/AvenirNextLTPro-Regular.otf') format("opentype");
    font-weight:$regular;
}

@font-face {
    font-family: 'Avenir Next Demi';
    src: url('/assets/Font/AvenirNextLTPro-Demi.otf') format("opentype");
    font-weight: $demi;
}

@font-face {
    font-family: 'Avenir Next Bold';
    src: url('/assets/Font/AvenirNextLTPro-Bold.otf') format("opentype");
    font-weight: $bold;
}