@use "./partials/variables" as *;
@use "./partials/mixins" as *;

* {
  box-sizing: border-box;
  border: 1px dashed #cacaca;
  margin: 0;
}

button {
  background-color: $primary-brainflix-blue;
  color: $primary-white;
  height: 2.5rem;
  border-radius: 0.25rem;
  width: 100%;
  @include tablet {
    width: 9.375rem;
  }
}
