@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.suggestion__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 $default-padding;
  list-style: none;
  @include tablet {
    width: $tablet-width;
    margin: 0 $double-default-padding;
  }
  @include desktop {
    flex: 1;
  }
}

.suggestion {
  display: flex;
  margin-bottom: $default-padding;
  text-decoration: none;
  color: $primary-brainflix-black;
  &__header {
    @include text-style($mb-page-header-text-size, $mb-page-header-line-height);
    padding-bottom: $default-padding;
    color: $primary-silver;
    @include tablet {
      padding-bottom: $double-default-padding;
    }
    @include desktop {
      padding-top: $double-default-padding;
      padding-bottom: $default-padding;
    }
  }
  &__img {
    flex: 1;
    width: 100%;
    height: auto;
    overflow: auto;
    border-radius: 0.25rem;
    background-color: $secondary-mercury;
    @include tablet {
      max-width: 25%;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
    padding-left: $default-padding;
  }
  &__title {
    font-weight: $bold;
  }
}
