@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $default-padding;
  gap: 1rem;
  @include tablet {
    flex-direction: row;
    margin: 1rem $double-default-padding;
  }
  @include desktop {
    width: $desktop-width;
    margin: 1rem auto;
  }

  &__img {
    max-height: 1.5625rem;
    max-width: 7.5rem;
  }

  &__input {
    width: 100%;
    background-image: url("../../assets/Icons/search.svg");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    background-color: $secondary-alabaster;
    color: $primary-brainflix-black;
    border: 1px solid $secondary-mercury;
    border-radius: 4px;
    margin-right: 1rem;
    @include tablet {
      width: 300px;
      margin-right: 0;
    }
    @include desktop {
      width: 41%;
      margin-right: 0;
    }
    &:active,
    &:focus {
      border: 1px solid $primary-brainflix-blue;
      outline: none;
    }
  }

  // Header Search
  &__search-mobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include tablet {
      justify-content: end;
    }
  }

  &__avatar {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    @include tablet {
      display: none;
    }
  }

  &__avatar-tablet {
    display: none;
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    @include tablet {
      display: flex;
    }
  }

  // Btn logo
  &__link {
    width: 100%;
    text-decoration: none;
    @include tablet {
      width: 23%;
      display: flex;
      flex-direction: row-reverse;
    }
    @include desktop {
      width: 17%;
    }
  }

  // Header Btn
  &__btn {
    background-image: url("../../assets/Icons/upload.svg");
  }
}
