@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $default-padding;
  gap: 1rem;
  @include tablet {
    flex-direction: row;
    margin: 1rem $double-default-padding;
  }
  @include desktop {
    width: $desktop-width;
    margin: 1rem auto;
  }

  // Header Image
  &__img {
    max-height: 1.5625rem;
    max-width: 7.5rem;
  }

  // Header Input
  &__input {
    width: 100%;
    background-image: url("../../assets/Icons/search.svg");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    background-color: white;
    border: 1px solid $secondary-mercury;
    border-radius: 4px;
    margin-right: 1rem;
    @include tablet {
      width: 60%;
    }
  }

  // Header Search
  &__search-mobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include tablet {
      justify-content: end;
    }
  }

  // Header Avatar
  &__avatar {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    @include tablet {
      display: none;
    }
  }

  // Header Avatar Tablet
  &__avatar-tablet {
    display: none;
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    @include tablet {
      display: flex;
    }
  }

  // Header Btn
  &__btn {
    background-image: url("../../assets/Icons/upload.svg");
  }
}
