@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-player {
  background-color: $secondary-brainflix-darkblack; // default background color
  // Video player
  &__media {
    position: relative;
    overflow: hidden;
    background-color: $secondary-brainflix-darkblack;
    @include tablet {
      margin: 0 $double-default-padding;
    }
    @include desktop {
      width: $desktop-width;
      margin: 0 auto;
    }
  }
  // Video
  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include tablet {
      object-fit: contain;
    }
  }
}
