@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-player {
  display: flex;
  flex-direction: column;
  background-color: $secondary-brainflix-darkblack;
  // Video player
  &__media {
    // @include tablet {
    //   padding: 0 $default-padding;
    // }
    // @include desktop {
    //   padding: 0 $double-default-padding;
    // }
  }
}
