@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.videoUpload-page {
  display: flex;
  flex-direction: column;
  padding-top: $default-padding;
  margin: 0 $default-padding;
  border-top: 1px solid $secondary-mercury;
  @include desktop {
    width: 1280px;
    margin: 0 auto;
  }
  &__header {
    margin: 1rem 0;
    font-weight: $bold;
    @include tablet {
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $secondary-mercury;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
      padding-top: 0.5rem;
      padding-bottom: $default-padding;
    }
  }
  &__tb-wrapper {
    width: 100%;
    flex: 1.25;
  }
  &__form-container {
    display: flex;
    flex-direction: column;
    @include desktop {
      flex: 2;
      margin-left: $double-default-padding;
    }
  }
  &__title {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: $primary-silver;
  }
  &__thumbnail {
    margin-bottom: 1rem;
    width: 100%;
    @include tablet {
      width: 50%;
    }
    @include desktop {
      width: 100%;
    }
  }
}
