@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

Ul {
  padding: 0;
}

.comment {
    display: flex;
    border-bottom: 1px solid $secondary-mercury;
    margin-bottom: $default-padding;
    &__content {
        margin-left: 1rem;
        width: 90%;
        flex-grow: 1;
      }
      
    &__name-date {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
      } 
      
    &__name {
        font-weight: $demi;
      }
      
    &__date {
        color: $primary-silver;
        font-weight: $regular;
      }
      
    &__detail {
        font-weight: $regular;
        margin-bottom: $default-padding;
      }
  }

  .avatar-comments-basic {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    background-color: #E1E1E1;
    @include tablet {
      border-radius: 50%;
      width: 2.25rem;
      height: 2.25rem;
    }
}
   
  
  
